.playerIMG{
    fx-padding: 10;
    -fx-border-color: gray;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.playerIMG:hover{
    -fx-border-color: blue;
}

.fieldLabel{
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.selectedIMG{
    fx-padding: 10;
    -fx-border-color: red;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.pickedIMG{
    fx-padding: 10;
    -fx-border-color: green;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.gameimgback{
    -fx-background-image:url("/Assets/IMG/questions.jpg");
    -fx-background-size:cover;
}

.red-bar{
    -fx-accent: rgb(255,0,0);
}
.blue-bar{
    -fx-accent: rgb(0,0,255);
}